@import url('fonts.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.main-page {
    background-image: url("../images/background-main-page.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}
.header-content {
    display: flex;
    justify-content: space-between;
    padding: 51px 135px 0 135px;
}
.header-right-content {
    display: flex;
    flex-direction: row;
}
.nav-content {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.links {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    padding: 0 20px 0 0;
    position: relative;
    cursor: pointer;
}
.icons {
    list-style: none;
}
.icon-picture {
    padding: 0 0 0 20px;
}
.links:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #f5bd41;
    content: "";
    transition: width 0.3s ease-out;
    margin-top: 40px;
}
.links:hover:after,
.links:focus:after {
    width: 83%;
}
.main-text {
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 135px;
    padding-top: 140px;
}
.form-checkin {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.labels-container {
    padding-top: 80px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.label-city {
    padding: 0 215px 0 165px;
}
.input-wrapper {
    width: 1240px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-checkin-text-city {
    height: 64px;
    width: 460px;
    border-radius: 8px;
    border: 3px solid transparent;
}
.form-checkin-text-city:focus {
    border: 3px solid #f5bd41;
    outline: none;
    cursor: pointer;
}
.form-checkin-text-date:focus {
    border: 3px solid #f5bd41;
    outline: none;
    cursor: pointer;
    padding: 0;
}
.form-checkin-text-amount:focus {
    border: 3px solid #f5bd41;
    outline: none;
    cursor: pointer;
}
.form-checkin-text-date {
    height: 64px;
    width: 261px;
    border: 1px solid #cecece;
    border-radius: 8px;
}
.form-checkin-text-amount {
    height: 64px;
    width: 324px;
    border-radius: 8px;
    border: 3px solid transparent;
}
.button-search-form {
    width: 195px;
    border-radius: 8px;
    border-color: transparent;
    background-color: #3077c6;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}
::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    padding-left: 30px;
}
.download-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 90px;
}
.google-play,
.app-store {
    padding-right: 20px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul.list li {
    display: inline-block;
    width: 24px;
}
p {
    padding-top: 50px;
    font-size: 24px;
    font-weight: 400;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    height: 569px;
    background-color: #ffffff;
}
h2 {
    margin-top: 120px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.container>hr {
    border:none;
    margin-top: 20px;
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
}
.wrapper {
    margin-top: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 104px;
    margin-right: 104px;
}
.reviews,.booking,.communication,.image {
    width: 296px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wrapper>img {
    width: 100px;
    height:100px;
}
.image>img {
    width: 75px;
    height: 92px;
}
.communication>img {
    width: 83px;
    height: 83px;
}
.booking>img {
    width: 100px;
    height: 67px;
}
.reviews>img {
    width: 92px;
    height: 83px;
}
.footer-container {
    width: 1240px;
    height: 430px;
    background-color: #10367c;
    flex-direction: row;
    display: flex;
}
.list-footer {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    line-height: 2.5;
}
.list-footer li:first-child {
    padding-top: 80px;
    font-weight: 500;
}
.about {
    padding-left: 90px;
}
.property {
    padding-left: 250px;
}
.support {
    padding-left: 280px;
}
.copyright {
    color:#ffffff;
    background-color: #10367c;
    font-size: 14px;
    padding-top: 44px;
    padding-left: 103px;
    padding-bottom: 50px;
}